@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "partials/base";
@import "partials/layout";
@import "partials/typography";
@import "partials/forms";
@import "partials/buttons";
@import "partials/header";
@import "partials/pygments";


body {
    background-color: $body-background;
    color: $font;
}

::selection {
    background: $accent;
    color: $content-background;
}
 
::-moz-selection {
    background: $accent;
    color: $content-background;
}

a {
    color: $accent;
    text-decoration: none;
    &:hover, &:focus, &:active { text-decoration: underline; }
}

ul, ol, dl {
    margin-left: $gutter-width;
}

.notice {
    @include leader;
    padding: $gutter-width/2 $gutter-width;
    @include border-radius;
    text-align: center;
    border: 1px solid $accent;
    background: $content-background;
    p:first-child { margin-top: 0; }
}

#notfound .content { @include content-box; }

footer {
    @include leader;
    color: $subtle;
    @include small;
    clear: both;
    border-top: 1px solid $content-background-darker;
}

@import "partials/footer";
