{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} | {{ SITENAME }}{% endblock %}

{% block body_id %}page-{{ page.slug }}{% endblock %}

{% block extrahead %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/fixedHeader.dataTables.min.css"/>
{% endblock %}

{% block content %}
    <article class="entry">
        <header>
            <h1 class="entry-title">
                {{ page.title }}
            </h1>
        </header>
        <div class="entry-content">
            {{ page.content }}
            <table id="library-table">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Series</th>
                        <th>Index</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
            </table>
        </div>
    </article>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#library-table').DataTable({
                colReorder: true,
                fixedHeader: true,
                paging: false,
                ajax: {
                    "url": "/media/library/books.json",
                    "dataSrc": function (json) {
                        for(var i=0; i< json.length; i++){
                            // Build a URL with the ISBN.
                            if(json[i].isbn) {
                                json[i].isbn_url = 'https://isbn.nu/' + json[i].isbn;
                                json[i].isbn_link = '<a href="' + json[i].isbn_url + '">' + json[i].isbn + '</a>';
                            } else {
                                json[i].isbn_url = '';
                                json[i].isbn_link = '';
                            }
                            // Clear the series index if there is no series.
                            if(!json[i].series) {
                                json[i].series_index = '';
                            }
                        }
                        return json;
                    }
                },
                columns: [
                    { "data": "author_sort" },
                    { "data": "title" },
                    { "data": "series" },
                    { "data": "series_index" },
                    { "data": "isbn_link" },
                ]
            });
        });
    </script>
{% endblock %}
