[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "==2.6.11"
typogrify = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.7"
