/* line 5, ../../../../sass/apps/flatpages.scss */
.flat .content {
  margin-top: 1.5em;
  padding: 1em;
  border: 1px solid #f0f0f0;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
}

/* line 14, ../../../../sass/apps/flatpages.scss */
#about .portrait img {
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  height: auto;
  max-width: 100%;
}
/* line 22, ../../../../sass/apps/flatpages.scss */
#about #fingerprint {
  color: #666666;
  max-width: 400px;
}
/* line 26, ../../../../sass/apps/flatpages.scss */
#about .details {
  clear: both;
}

@media (min-width: 51em) {
  /* line 31, ../../../../sass/apps/flatpages.scss */
  #about .portrait {
    float: right;
    margin-bottom: 1.5em;
    margin-left: 1em;
  }
}
/* line 41, ../../../../sass/apps/flatpages.scss */
#code .github-activity {
  text-align: center;
}
/* line 43, ../../../../sass/apps/flatpages.scss */
#code .github-activity ul {
  list-style-position: inside;
}
/* line 44, ../../../../sass/apps/flatpages.scss */
#code .github-activity .mini-icon, #code .github-activity .details {
  display: none;
}
/* line 45, ../../../../sass/apps/flatpages.scss */
#code .github-activity .title {
  display: inline;
}
/* line 46, ../../../../sass/apps/flatpages.scss */
#code .github-activity time {
  color: #666666;
  word-spacing: .1em;
  font-size: 0.75em;
  line-height: 2em;
}
/* line 49, ../../../../sass/apps/flatpages.scss */
#code .github-activity time:before {
  content: "(";
}
/* line 50, ../../../../sass/apps/flatpages.scss */
#code .github-activity time:after {
  content: ")";
}
/* line 53, ../../../../sass/apps/flatpages.scss */
#code .github-logo {
  text-align: center;
  margin-top: 1.5em;
}
/* line 57, ../../../../sass/apps/flatpages.scss */
#code .github-logo a img {
  background: #f4f4f4;
  max-width: 95%;
  height: auto;
  border: 10px solid #f0f0f0;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
  border-radius: 400px;
}
/* line 64, ../../../../sass/apps/flatpages.scss */
#code .github-logo a:hover img {
  border-color: #50edcf;
}

/* line 75, ../../../../sass/apps/flatpages.scss */
#photos #flickr-badge {
  list-style: none;
  text-align: center;
  margin-left: 0;
}
/* line 80, ../../../../sass/apps/flatpages.scss */
#photos #flickr-badge .photo img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

@media (min-width: 37em) {
  /* line 87, ../../../../sass/apps/flatpages.scss */
  #photos #flickr-badge {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin-top: 1.5em;
  }
  /* line 90, ../../../../sass/apps/flatpages.scss */
  #photos #flickr-badge .photo {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 48, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #photos #flickr-badge .photo:first-child, #photos #flickr-badge .photo.first {
    padding-left: 0;
  }
  /* line 49, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #photos #flickr-badge .photo:last-child {
    padding-right: 0;
  }
  /* line 50, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #photos #flickr-badge .photo.last {
    padding-right: 0;
  }
  /* line 92, ../../../../sass/apps/flatpages.scss */
  #photos #flickr-badge .photo:first-child {
    padding-left: 4px;
  }
}
@media (min-width: 57em) {
  /* line 100, ../../../../sass/apps/flatpages.scss */
  #photos #flickr-badge {
    margin-left: auto;
    margin-right: auto;
    width: 790px;
  }
}
