/* line 13, ../../../../sass/apps/geartracker.scss */
#geartracker-home .content, #geartracker-gear-list .content, #geartracker-list-list .content, #geartracker-category-list .content, #geartracker-type-list .content, #geartracker-tag-list .content, .geartracker-list .content, .geartracker-item .content { margin-top: 1.5em; padding: 1em; border: 1px solid #f0f0f0; background: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; *zoom: 1; }

/* line 16, ../../../../sass/apps/geartracker.scss */
.geartacker-item .edit, .geartracker-list .edit { float: right; }

/* line 20, ../../../../sass/apps/geartracker.scss */
.geartracker-item .breadcrumb { word-spacing: .1em; font-size: 0.75em; line-height: 2em; margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
/* line 23, ../../../../sass/apps/geartracker.scss */
.geartracker-item .breadcrumb li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 48, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.geartracker-item .breadcrumb li:first-child, .geartracker-item .breadcrumb li.first { padding-left: 0; }
/* line 49, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.geartracker-item .breadcrumb li:last-child { padding-right: 0; }
/* line 50, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.geartracker-item .breadcrumb li.last { padding-right: 0; }

/* line 30, ../../../../sass/apps/geartracker.scss */
.geartracker-list .gear-list { width: 100%; }
/* line 2, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.geartracker-list .gear-list th { text-align: center; font-weight: bold; }
/* line 6, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.geartracker-list .gear-list td, .geartracker-list .gear-list th { padding: 2px; }
/* line 8, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.geartracker-list .gear-list td.numeric, .geartracker-list .gear-list th.numeric { text-align: right; }

@media (min-width: 60em) { /* line 38, ../../../../sass/apps/geartracker.scss */
  #geartracker-home .recent-gear, #geartracker-home .recent-list { width: 49.15254%; float: left; margin-right: 1.69492%; }
  /* line 39, ../../../../sass/apps/geartracker.scss */
  #geartracker-home .recent-list { float: right; margin-right: 0; } }
/* line 43, ../../../../sass/apps/geartracker.scss */
.page-list { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
/* line 45, ../../../../sass/apps/geartracker.scss */
.page-list li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; word-spacing: .1em; font-size: 0.75em; line-height: 2em; }
/* line 48, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.page-list li:first-child, .page-list li.first { padding-left: 0; }
/* line 49, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.page-list li:last-child { padding-right: 0; }
/* line 50, ../../../../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.page-list li.last { padding-right: 0; }
/* line 48, ../../../../sass/apps/geartracker.scss */
.page-list li a { display: block; text-decoration: none; background-color: #f0f0f0; padding: .1em .5em; border: 1px solid #f0f0f0; }
/* line 54, ../../../../sass/apps/geartracker.scss */
.page-list li a:hover, .page-list li a:focus, .page-list li a:active { background-color: #14c3a2; color: white; }
/* line 59, ../../../../sass/apps/geartracker.scss */
.page-list li.current a { border-color: #14c3a2; }
