{% extends "flatpages_base.html" %}

{% block title %}About | {{ block.super }}{% endblock %}
{% block description %}Pig Monkey is just some guy, you know?{% endblock %}
{% block body_id %}about{% endblock %}

{% block content %}
    <h1>About</h1>

    <a class="portrait" href="http://www.flickr.com/photos/pigmonkey/4935770947/" title="Portrait at Coyote Ridge by Pig Monkey, on Flickr"><img width="300" height="292" src="{{ STATIC_URL }}/images/headshot.png" alt="Portrait at Coyote Ridge"></a>

    <p>I'm just some guy, you know?</p>
    <p>I value autonomy, movement, and diversity. I have a tendency to be distrustful of authority. I prefer decentralized, <a href="http://www.jeffvail.net/2007/01/what-is-rhizome.html">rhizomatic</a> networks to centralized systems. I dislike writing autobiography.</p>
    <p>The best way to learn about me is to <a href="{% url "vellum_archives" %}" title="View the blog archives.">explore my writings</a>. This website functions as the central portal for my online presence. It is a record of many goings and comings, doings and beings; stories, symbols and meanings. Gossamer threads that may be woven into a larger web: a story of this age of the world.</p>
    <p>The website is powered by <a href="http://www.python.org/" title="The Python Programming Language">Python</a>, hand-forged in <a href="http://www.vim.org/" title="Vim: a text editor">Vim</a>. It utilizes <a href="https://www.djangoproject.com/" title="The Django web framework">Django</a>, <a href="https://github.com/pigmonkey/django-vellum" title="A web log for Django">Vellum</a>, <a href="http://sass-lang.com/" title="Syntactically Awesome Stylesheets">Sass</a>, <a href="http://compass-style.org/" title="An open-source CSS authoring framework">Compass</a>, and <a href="http://susy.oddbird.net/" title="Responseive grids for Compass">Susy</a>. The code is entirely open-source and <a href="https://github.com/pigmonkey/pig-monkey.com" title="Fork my website">available on GitHub</a>.</p>
    <p id="key">If you wish to <a href="" title="Fill out my contact form.">contact me</a>, you are encouraged to <a href="http://gnupg.org/gph/en/manual.html" title="Learn about encrypting messages with The GNU Privacy Guard.">encrypt</a> messages with my <a href="{% url "public_key" %}" title="Download my public key (D0649C5D).">public key</a>.</p>
    <pre id="fingerprint">82DF 2E38 B136 1F43 D862  91B2 E4F5 430D D064 9C5D</pre>

    <dl class="details">
        <dt>Email</dt>
            <dd>pm at pig dash monkey dot com</dd>
        <dt><acronym title="Extensible Messaging and Presence Protocol">XMPP</acronym></dt>
            <dd>pigmonkey@jabber.ccc.de</dd>
        <dt>Skype</dt>
            <dd>pig_monkey</dd>
        <dt>Flickr</dt>
            <dd><a href="http://www.flickr.com/people/pigmonkey" title="Enjoy my pretty pictures on Flickr.">pigmonkey</a></dd>
        <dt>GitHub</dt>
            <dd><a href="https://github.com/pigmonkey" title="Critique my hacking on GitHub.">pigmonkey</a></dd>
    </dl>
{% endblock %}
