{% extends "flatpages_base.html" %}

{% block title %}Code | {{ block.super }}{% endblock %}
{% block description %}Pig Monkey hacks on a number of open-source projects.{% endblock %}
{% block body_id %}code{% endblock %}

{% block content %}
    <h1>Code</h1>
    <p>I hack on a number of <a href="https://en.wikipedia.org/wiki/Open-source_software" title="Learn about open-source software">open-source</a> projects. The majority of my code can be found on <a href="http://github.com/pigmonkey" title="View my code on GitHub">GitHub</a>. You should go there and <a href="https://help.github.com/articles/fork-a-repo" title="Forking a repository">fork</a> something.</p>

    <div class="github-logo"><a href="http://github.com/pigmonkey" title="View my code on GitHub"><img src="{{ STATIC_URL }}images/social/octocat.png"></a></div>

    {% if github_activity %}
    <section class="github-activity">
        <h2>Recent Activity</h2>
        <ul>
            {% for entry in github_activity %}
            <li>
                {{ entry.summary|safe }}
                <a href="{{ entry.link }}" title="View the details of this activity" class="url">&raquo;</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

{% endblock %}
