{% extends "flatpages_base.html" %}

{% block title %}Photos | {{ block.super }}{% endblock %}
{% block description %}Pig Monkey takes photographs and uploads them for your pleasure.{% endblock %}
{% block body_id %}photos{% endblock %}

{% block content %}
    <h1>Photos</h1>
    <p>I host my photos on <a href="http://flickr.com/pigmonkey" title="View my photos on Flickr">Flickr</a>. You may explore them there, or view thumbnails of the most recently uploaded photographs here.</p>
    {% include 'badgr/photos.html' %}
{% endblock %}
