DEBUG = False

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:23357',
    }
}

SECRET_KEY = ''

# Secure Cookies
SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_SECURE = True

# Mail
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD= ''

# API Keys
DISQUS_API_KEY = ''
FLICKR_APIKEY = ''

# Allowed Hosts
ALLOWED_HOSTS = [
    '.example.com',
    '.example.com.',
]
