//
// Colors
//

$body-background: #000;
$content-background: #1d1f21;
$content-background-alt: #2d2d2d;
$accent: #14C3A2;
$contrast: #000;
$font: #c5c8c6;
$subtle: #969896;


//
// Fonts
//

$font-size-small: 0.75;


//
// Mixins
//

@mixin small {
    word-spacing: .1em;
    @include adjust-font-size-to($base-font-size * $font-size-small)
}

@mixin content-box {
    margin-top: 3em;
    padding: $gutter-width;
    background: $content-background;
    @include border-radius;
}

@mixin float-left {
    float: left;
    @include trailer;
    margin-right: $gutter-width;
}

@mixin float-right {
    float: right;
    @include trailer;
    margin-left: $gutter-width;
}


//
// Misc
//

$default-transition-duration: 0.5s;
