#footer {
    @include leader(6);
    @include trailer(2);
    text-align: center;
    .quote {
        cite {
            margin-top: 0;
            &:before { margin: 0; }
        }
    }
    .social {
        @include leader;
        a {
            padding-left: $gutter-width;
            padding-right: $gutter-width;
            @include opacity(.5);
            @include single-transition;
            &:hover, &:active, &:focus { @include opacity(1); }
        }
    }
}

