input {
    @include border-radius;
    @include transition-property(background, border);
    @include transition-duration;
    background: $content-background;
    border: 1px solid $content-background-alt;
    color: $subtle;
    padding: 4px;
    &:focus {
        background: $content-background;
        border-color: $accent;
        color: $font;
    }
}

#quick-search {
    input {
        padding: 0px 10px;
        @include small;
    }
}
