input, textarea {
    border: 1px solid $content-background-dark;
    padding: 4px;
    font-size: 1em;
    @include border-radius();
    @include single-transition;
    &:focus {
        border-color: $accent;
        @include single-box-shadow($accent);
    }
}

input[type="submit"], input[type="reset"], input[type="button"] {
    @include single-transition(none);
    &:focus { @include single-box-shadow(none); }
}

.horizontal {
    label {
        text-align: right;
        float: left;
        padding-top: 5px;
        width: 140px;
        margin-bottom: 5px;
        margin-right: 20px;
    }
    ul { list-style: none; }
    input[type="submit"] { margin-left: 160px; }
}
