//
// Settings
//

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;


//
// Container
//

.container, .colophon {  @include container; }


//
// Layout
//

#top nav a {
    @include border-radius($default-border-radius*2);
    margin-bottom: $gutter-width/2;
}

#subhead {
    padding: $gutter-width/2 $gutter-width;
    text-align: center;
    nav li { padding-bottom: $gutter-width/2; }
}


@include at-breakpoint(30em 12) {
    #top {
        .site-title { @include trailer; }
        nav {
            li {
                @include span-columns(2);
                @include nth-omega();
            }
            a {
                margin-bottom: 0;
                @include border-bottom-radius(0);
                &.active { background-color: $accent; }
            }
        }
    }
    #subhead {
        text-align: left;
        nav {
            float: left;
            li {
                float: left;
                margin-right: $gutter-width;
                padding-bottom: 0;
            }
        }
        form { clear: both; }
    }
}

@include at-breakpoint(40em) {
    #subhead form {
        clear: none;
        float: right;
    }
    #footer {
        .copyright { @include span-columns($total-columns/2 omega); }
        .quote { @include span-columns($total-columns/2); }
        .social { @include span-columns($total-columns); }
    }
}
