@import "compass/css3";
@import "partials/base";

#category-list .content,
#tag-list .content,
#post-archive .content,
#post-search .content,
.entry { @include content-box; }

.query { font-weight: bold; }

.entry {
    header {
        .entry-title a {
            color: $font;
            &:hover, &:focus, &:active {
                text-decoration: none;
                color: $accent;
            }
        }
        time, .edit { @include small; }
        time { color: $subtle; }
    }
    .entry-content {
        img, object {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            height: auto;
            max-width: 100%;
            @include border-radius;
        }
        .thumbs {
            list-style: none;
            margin-left: 0;
            text-align: center;
            li, img, object {
                display: inline; }
        }
        .right { @include float-right; }
        .left { @include float-left; }
    }
}
#footnotes {
    @include leader;
    @include small;
    h2 {
        display: none;
        margin-top: 0;
    }
    &:before {
        content: '\2735';
        text-align: center;
        font-size: 4em;
        display: block;
        @include opacity(.2);
    }
}

.other-posts, .pagination {
    @include leader;
    overflow: auto;
    .separator { display: none; }
    .older {
        float: left;
        &:after { Content: "Previous post"; }
    }
    .newer {
        float: right;
        &:before { Content: "Next post"; }
    }
}

@include at-breakpoint(74em) {
    .other-posts, .pagination {
        margin-top: 0;
        font-size: 8em;
        a {
            color: rgba($content-background, .9);
            @include single-transition;
            &:hover, &:focus, &:active {
                text-decoration: none;
                color: $accent;
            }
        }
        .older, .newer {
            position: fixed;
            top: 210px;
        }
        .older {
            left: 20px;
            &:after { Content: none; }
        }
        .newer {
            right: 20px;
            &:before { Content: none; }
        }
    }
}

#tag-list {
    .content h1:after { Content: "!"; }
    .cloud {
        list-style: none;
        margin-left: 0;
        li { display: inline; }
    }
}

#post-archive {
    .yearly-archive {
        list-style-type: none;
        h2, h3 { margin: 0; }
        ul {
            list-style: none;
            margin-top: 0;
        }
    }
}

#comments { @include content-box; }

#post-search-form {
    input[type="submit"] { padding: 4px; }
}

//
// Micro Styling
//

.category-micro {
    header, .entry-title, .entry-content, .entry-content > p:first-child { display: inline; }
    header {
        time, .edit { display: none; }
    }
    .entry-title {
        font-size: 1.3em;
        line-height: 1em;
    }
}
