@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.container, .colophon { *zoom: 1; max-width: 59em; _width: 59em; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em; }
.container:after, .colophon:after { content: ""; display: table; clear: both; }

#top nav a { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; margin-bottom: 0.5em; }

#subhead { padding: 0.5em 1em; text-align: center; }
#subhead nav li { padding-bottom: 0.5em; }

@media (min-width: 30em) { #top .site-title { margin-bottom: 1.5em; }
  #top nav li { width: 15.25424%; float: left; margin-right: 1.69492%; }
  #top nav li:last-child { float: right; margin-right: 0; }
  #top nav a { margin-bottom: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
  #top nav a.active { background-color: #14c3a2; }
  #subhead { text-align: left; }
  #subhead nav { float: left; }
  #subhead nav li { float: left; margin-right: 1em; padding-bottom: 0; }
  #subhead form { clear: both; } }
@media (min-width: 40em) { #subhead form { clear: none; float: right; }
  #footer .copyright { width: 48.71795%; float: right; margin-right: 0; }
  #footer .quote { width: 48.71795%; float: left; margin-right: 2.5641%; }
  #footer .social { width: 100%; float: left; margin-right: 2.5641%; } }
/*
Based on Type-A-File "Field Report" designed by Russ Maschmeyer, aka StrangeNative.
http://www.strangenative.com
@strangenative
Creative Commons License by Attribution. 
*/
html { font-family: Helvetica, Arial, sans-serif; }

pre, code { font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace; }

sup, sub { font-family: arial, sans-serif; }

* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 { font-weight: 500; }

h2, h3, h4 { margin-top: 0.75em; }

h1 { font-size: 2.5em; line-height: 1.2em; }

h2 { font-size: 1.75em; line-height: 1.71429em; }

h3 { font-size: 1.3em; line-height: 2.30769em; }

h4 { font-weight: bold; }

h1 + img, h2 + img { margin-top: 1em; }

small { display: block; margin: 2.2em 0 -0.2em; word-spacing: .1em; font-size: 0.75em; line-height: 2em; }

abbr, pre, code { font-size: 0.9em; line-height: 1.66667em; }

abbr { text-transform: uppercase; letter-spacing: .1em; }

p, pre, ul, ol, form, code { margin-top: 1.5em; margin-bottom: 1.05em; }

p, code { margin-bottom: 0; }

p { hyphenate: auto; hyphenate-before: 2; hyphenate-after: 3; hyphenate-lines: 3; orphans: 4; }

em { font-style: italic; }

pre, code { border: 1px solid #f0f0f0; }

pre { padding: 10px; margin-bottom: 0; }

code { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: #666666; padding: 0 5px 2px; }

blockquote { font-style: italic; line-height: 1.65em; margin-left: 2em; color: #666666; }
blockquote:before { font-family: Georgia, serif; content: "“"; font-size: 2.75em; text-indent: -0.8em; margin-top: .1em; float: left; opacity: .3; }

cite { display: block; text-transform: uppercase; letter-spacing: .2em; margin-left: 1em; font-weight: 900; font-style: normal; margin-top: 1.5em; font-size: 0.8em; line-height: 1.875em; }
cite:before { content: "— "; margin-left: -3.4em; margin-right: .9em; opacity: .3; }

ul, ol { list-style-position: outside; }

ul { list-style-type: disc; line-height: 1.5; }

ol { list-style-type: decimal; }

li { margin-bottom: .75em; }

dl { margin-bottom: 1.5em; margin-top: 1.5em; font-style: italic; }
dl dt { font-size: 1.13em; line-height: 1.32743em; margin-top: 1.5em; font-weight: 700; border-bottom: 1px solid #cccccc; background: #f0f0f0; }
dl dd { font-size: 0.85em; line-height: 1.76471em; margin-top: 0.75em; }

sup, sub { font-size: 0.75em; line-height: 0em; margin-right: .4em; text-transform: lowercase; font-variant: small-caps; letter-spacing: .1em; }

sup { vertical-align: super; }

sub { vertical-align: sub; }

input, textarea { border: 1px solid #f0f0f0; padding: 4px; font-size: 1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
input:focus, textarea:focus { border-color: #14c3a2; -webkit-box-shadow: 0px 0px 5px #14c3a2; -moz-box-shadow: 0px 0px 5px #14c3a2; box-shadow: 0px 0px 5px #14c3a2; }

input[type="submit"], input[type="reset"], input[type="button"] { -webkit-transition: none 0.5s; -moz-transition: none 0.5s; -o-transition: none 0.5s; transition: none 0.5s; }
input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.horizontal label { text-align: right; float: left; padding-top: 5px; width: 140px; margin-bottom: 5px; margin-right: 20px; }
.horizontal ul { list-style: none; }
.horizontal input[type="submit"] { margin-left: 160px; }

.button, button, input[type="submit"], input[type="reset"], input[type="button"] { background: #22e8c3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22e8c3), color-stop(100%, #0f957c)); background-image: -webkit-linear-gradient(top, #22e8c3, #0f957c); background-image: -moz-linear-gradient(top, #22e8c3, #0f957c); background-image: -o-linear-gradient(top, #22e8c3, #0f957c); background-image: linear-gradient(top, #22e8c3, #0f957c); border: 1px solid #f0f0f0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: #fff; cursor: pointer; text-align: center; padding: 8px 10px; }
.button:hover, .button:focus, button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:focus { text-decoration: none; background: #0f957c; }
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { background: #0b6655; }

#top a, #top input, #subhead a, #subhead input { -webkit-transition-property: background, border, color; -moz-transition-property: background, border, color; -o-transition-property: background, border, color; transition-property: background, border, color; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }

#top { background: black url("/static/images/background/black_mamba.png"); border-bottom: 5px solid #14c3a2; }
#top .site-title { font-size: 1.4em; background: rgba(0, 0, 0, 0.5); text-shadow: 4px 4px 2px black; text-align: center; padding: .25em; }
#top .site-title a { color: #14c3a2; }
#top .site-title a:hover, #top .site-title a:focus, #top .site-title a:active { text-decoration: none; color: white; }
#top nav ul { margin: 0; overflow: auto; }
#top nav ul li { list-style: none; text-align: center; margin-bottom: 0; }
#top nav a { color: white; display: block; line-height: 2em; }
#top nav a:hover, #top nav a:focus, #top nav a:active { background-color: #14c3a2; text-decoration: none; }

#subhead { border: 1px solid #f0f0f0; border-top: none; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; background: white; overflow: auto; }
#subhead nav ul { margin: 0; }
#subhead nav ul li { list-style: none; margin-bottom: 0; }
#subhead nav ul li:last-child { margin-right: 0; }
#subhead nav ul li a { color: #222222; text-decoration: none; display: block; padding: 3px 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; border: 1px solid white; }
#subhead nav ul li a:hover, #subhead nav ul li a:focus, #subhead nav ul li a:active { background-color: #f4f4f4; border-color: #f0f0f0; }
#subhead form { margin: 0; }
#subhead form input { background: #f4f4f4; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; padding: 5px 10px; font-size: .8em; }
#subhead form input:focus { background: white; border-color: #f0f0f0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

#toggle-nav { display: block; position: absolute; padding: 5px; top: 2px; right: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#toggle-nav:hover, #toggle-nav:active, #toggle-nav:focus { background-color: #1a1a1a; text-decoration: none; }
#toggle-nav img { display: block; }

.highlight, .hll { background-color: #49483e; color: #F8F8F2; /* Comment */ /* Error */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Emph */ /* Generic.Strong */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }
.highlight .c, .hll .c { color: #75715e; }
.highlight .err, .hll .err { color: #960050; background-color: #1e0010; }
.highlight .k, .hll .k { color: #66d9ef; }
.highlight .l, .hll .l { color: #ae81ff; }
.highlight .n, .hll .n { color: #f8f8f2; }
.highlight .o, .hll .o { color: #f92672; }
.highlight .p, .hll .p { color: #f8f8f2; }
.highlight .cm, .hll .cm { color: #75715e; }
.highlight .cp, .hll .cp { color: #75715e; }
.highlight .c1, .hll .c1 { color: #75715e; }
.highlight .cs, .hll .cs { color: #75715e; }
.highlight .ge, .hll .ge { font-style: italic; }
.highlight .gs, .hll .gs { font-weight: bold; }
.highlight .kc, .hll .kc { color: #66d9ef; }
.highlight .kd, .hll .kd { color: #66d9ef; }
.highlight .kn, .hll .kn { color: #f92672; }
.highlight .kp, .hll .kp { color: #66d9ef; }
.highlight .kr, .hll .kr { color: #66d9ef; }
.highlight .kt, .hll .kt { color: #66d9ef; }
.highlight .ld, .hll .ld { color: #e6db74; }
.highlight .m, .hll .m { color: #ae81ff; }
.highlight .s, .hll .s { color: #e6db74; }
.highlight .na, .hll .na { color: #a6e22e; }
.highlight .nb, .hll .nb { color: #f8f8f2; }
.highlight .nc, .hll .nc { color: #a6e22e; }
.highlight .no, .hll .no { color: #66d9ef; }
.highlight .nd, .hll .nd { color: #a6e22e; }
.highlight .ni, .hll .ni { color: #f8f8f2; }
.highlight .ne, .hll .ne { color: #a6e22e; }
.highlight .nf, .hll .nf { color: #a6e22e; }
.highlight .nl, .hll .nl { color: #f8f8f2; }
.highlight .nn, .hll .nn { color: #f8f8f2; }
.highlight .nx, .hll .nx { color: #a6e22e; }
.highlight .py, .hll .py { color: #f8f8f2; }
.highlight .nt, .hll .nt { color: #f92672; }
.highlight .nv, .hll .nv { color: #f8f8f2; }
.highlight .ow, .hll .ow { color: #f92672; }
.highlight .w, .hll .w { color: #f8f8f2; }
.highlight .mf, .hll .mf { color: #ae81ff; }
.highlight .mh, .hll .mh { color: #ae81ff; }
.highlight .mi, .hll .mi { color: #ae81ff; }
.highlight .mo, .hll .mo { color: #ae81ff; }
.highlight .sb, .hll .sb { color: #e6db74; }
.highlight .sc, .hll .sc { color: #e6db74; }
.highlight .sd, .hll .sd { color: #e6db74; }
.highlight .s2, .hll .s2 { color: #e6db74; }
.highlight .se, .hll .se { color: #ae81ff; }
.highlight .sh, .hll .sh { color: #e6db74; }
.highlight .si, .hll .si { color: #e6db74; }
.highlight .sx, .hll .sx { color: #e6db74; }
.highlight .sr, .hll .sr { color: #e6db74; }
.highlight .s1, .hll .s1 { color: #e6db74; }
.highlight .ss, .hll .ss { color: #e6db74; }
.highlight .bp, .hll .bp { color: #f8f8f2; }
.highlight .vc, .hll .vc { color: #f8f8f2; }
.highlight .vg, .hll .vg { color: #f8f8f2; }
.highlight .vi, .hll .vi { color: #f8f8f2; }
.highlight .il, .hll .il { color: #ae81ff; }

body { background-color: #f4f4f4; color: #222222; }

::selection { background: #14c3a2; color: white; }

::-moz-selection { background: #14c3a2; color: white; }

a { color: #14c3a2; text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: underline; }

ul, ol, dl { margin-left: 1em; }

.notice { margin-top: 1.5em; padding: 0.5em 1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; text-align: center; border: 1px solid #14c3a2; background: white; }
.notice p:first-child { margin-top: 0; }

#notfound .content { margin-top: 1.5em; padding: 1em; border: 1px solid #f0f0f0; background: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; *zoom: 1; }

footer { margin-top: 1.5em; color: #666666; word-spacing: .1em; font-size: 0.75em; line-height: 2em; clear: both; border-top: 1px solid #cccccc; }

#footer { margin-top: 9em; margin-bottom: 3em; overflow: auto; text-align: center; }
#footer .quote cite { margin-top: 0; }
#footer .quote cite:before { margin: 0; }
#footer .social { margin-top: 1.5em; }
#footer .social a { padding-left: 1em; padding-right: 1em; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
#footer .social a:hover, #footer .social a:active, #footer .social a:focus { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
